<f:layout name="Default" />

<f:section name="Title">Edit contact person "{contactPerson.name}"</f:section>

<f:section name="Content">
	<f:form action="update" object="{contactPerson}" name="contactPerson">
		<ol>
			<li>
				<label for="name">Name</label>
				<f:form.textfield property="name" id="name" />
			</li>
		
			<li>
				<label for="email">Email</label>
				<f:form.textfield property="email" id="email" />
			</li>
		
			<li>
				<f:form.submit value="Update"/>
			</li>
		</ol>
	</f:form>
</f:section>