<f:layout name="Default" />

<f:section name="Title">A list of contactpeople</f:section>

<f:section name="Content">
	<f:if condition="{contactpeople}">
		<f:then>
			<ul>
				<f:for each="{contactpeople}" as="contactPerson">
					<li>
						<f:link.action action="show" arguments="{contactPerson: contactPerson}">{contactPerson.name}</f:link.action>
						<f:link.action action="edit" arguments="{contactPerson: contactPerson}">Edit</f:link.action>
						<f:link.action action="delete" arguments="{contactPerson: contactPerson}">Delete</f:link.action>
					</li>
				</f:for>
			</ul>
		</f:then>
		<f:else>
			<p>No contactpeople created yet.</p>
		</f:else>
	</f:if>
	<p><f:link.action action="new">Create a new contact person</f:link.action></p>
</f:section>